<section class="section" id="catalog">
    <div class="container cantainer-catalog">
        <h2 class="text-catalog">Catalog</h2>
        <ul class="catalog-list list">
            <li class="catalog-item">
                   <a href="#" class="link-catalog link"><div class="img-div">
                    <picture>
                        <source srcset="../img/catalog/catalog-1x-webp/catalog1x-1.webp,
                        ../img/catalog/catalog-2x-webp/catalog2x-1.webp" type="image/webp">
                        <source srcset="../img/catalog/catalog-1x/catalog1x-1.jpg,
                        ../img/catalog/catalog-2x/catalog2x-1.jpg" type="image/jpg">
                        <img class="img-attribute" src="../img/catalog/catalog-1x/catalog1x-1.jpg" alt="" width="336" height="360">
                    </picture>
                    <div class="information-card"><h3 class="text-information">Description</h3><p class="paragraf-information">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p><h3 class="text-information">DETAILS & FEATUREStion</h3><p class="paragraf-information">Gender: man
                        Size: 46x54.5mm
                        Case Colour: Steel
                        Band Material: Metal
                        Case Material: Metal
                        Features: Multifunction
                        Water Resistant: 5 (ATM)
                        Band Colour: Steel</p></div>
                   </div>
                    <span class="catalog-span">
                        <h3 class="catalog-text">Taman Watch By Police For Men</h3>
                        <p class="catalog-paragraf">€500</p>
                    </span></a>
            </li>
            <li class="catalog-item">
                   <a href="#" class="link-catalog link"><div class="img-div">
                    <picture>
                        <source srcset="../img/catalog/catalog-1x-webp/catalog1x-2.webp,
                        ../img/catalog/catalog-2x-webp/catalog2x-2.webp" type="image/webp">
                        <source srcset="../img/catalog/catalog-1x/catalog1x-2.jpg,
                        ../img/catalog/catalog-2x/catalog2x-2.jpg" type="image/jpg">
                        <img class="img-attribute" src="../img/catalog/catalog-1x/catalog1x-2.jpg" alt="" width="336" height="360">
                    </picture>
                    <div class="information-card"><h3 class="text-information">Description</h3><p class="paragraf-information">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p><h3 class="text-information">DETAILS & FEATUREStion</h3><p class="paragraf-information">Gender: man
                        Size: 46x54.5mm
                        Case Colour: Steel
                        Band Material: Metal
                        Case Material: Metal
                        Features: Multifunction
                        Water Resistant: 5 (ATM)
                        Band Colour: Steel</p></div>
                   </div>
                    <span class="catalog-span">
                        <h3 class="catalog-text">Avondale Watch Police For Men</h3>
                        <p class="catalog-paragraf">€800</p>
                    </span></a>
            </li>
            <li class="catalog-item">
                   <a href="#" class="link-catalog link"><div class="img-div">
                    <picture>
                        <source srcset="../img/catalog/catalog-1x-webp/catalog1x-3.webp,
                        ../img/catalog/catalog-2x-webp/catalog2x-3.webp" type="image/webp">
                        <source srcset="../img/catalog/catalog-1x/catalog1x-3.jpg,
                        ../img/catalog/catalog-2x/catalog2x-3.jpg" type="image/jpg">
                        <img class="img-attribute" src="../img/catalog/catalog-1x/catalog1x-3.jpg" alt="" width="336" height="360">
                    </picture>
                    <div class="information-card"><h3 class="text-information">Description</h3><p class="paragraf-information">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p><h3 class="text-information">DETAILS & FEATUREStion</h3><p class="paragraf-information">Gender: man
                        Size: 46x54.5mm
                        Case Colour: Steel
                        Band Material: Metal
                        Case Material: Metal
                        Features: Multifunction
                        Water Resistant: 5 (ATM)
                        Band Colour: Steel</p></div>
                   </div>
                <h3 class="catalog-text">Diver  300M Co‑Axial Master Chronometer Chronograph</h3>
                <span class="catalog-paragraf">€600</span></a>
            </li>
        <li class="catalog-item">
                   <a href="#" class="link-catalog link"><div class="img-div">
                    <picture>
                        <source srcset="../img/catalog/catalog-1x-webp/catalog1x-4.webp,
                        ../img/catalog/catalog-2x-webp/catalog2x-4.webp" type="image/webp">
                        <source srcset="../img/catalog/catalog-1x/catalog1x-4.jpg,
                        ../img/catalog/catalog-2x/catalog2x-4.jpg" type="image/jpg">
                        <img class="img-attribute" src="../img/catalog/catalog-1x/catalog1x-4.jpg" alt="" width="336" height="360">
                    </picture>
                    <div class="information-card"><h3 class="text-information">Description</h3><p class="paragraf-information">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p><h3 class="text-information">DETAILS & FEATUREStion</h3><p class="paragraf-information">Gender: man
                        Size: 46x54.5mm
                        Case Colour: Steel
                        Band Material: Metal
                        Case Material: Metal
                        Features: Multifunction
                        Water Resistant: 5 (ATM)
                        Band Colour: Steel</p></div>
                   </div>
                    <span class="catalog-span">
                        <h3 class="catalog-text">Diver 300M Co-Axial Master Chronometer</h3>
                        <p class="catalog-paragraf">€1400</p>
                    </span></a>
            </li>
            <li class="catalog-item">
                   <a href="#" class="link-catalog link"><div class="img-div">
                    <picture>
                        <source srcset="../img/catalog/catalog-1x-webp/catalog1x-5.webp,
                        ../img/catalog/catalog-2x-webp/catalog2x-5.webp" type="image/webp">
                        <source srcset="../img/catalog/catalog-1x/catalog1x-5.jpg,
                        ../img/catalog/catalog-2x/catalog2x-5.jpg" type="image/jpg">
                        <img class="img-attribute" src="../img/catalog/catalog-1x/catalog1x-5.jpg" alt="" width="336" height="360">
                    </picture>
                    <div class="information-card"><h3 class="text-information">Description</h3><p class="paragraf-information">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p><h3 class="text-information">DETAILS & FEATUREStion</h3><p class="paragraf-information">Gender: man
                        Size: 46x54.5mm
                        Case Colour: Steel
                        Band Material: Metal
                        Case Material: Metal
                        Features: Multifunction
                        Water Resistant: 5 (ATM)
                        Band Colour: Steel</p></div>
                   </div>
                    <span class="catalog-span">
                        <h3 class="catalog-text">Taman Watch By Police For Men</h3>
                        <p class="catalog-paragraf">€500</p>
                    </span></a>
            </li>
            <li class="catalog-item">
                   <a href="#" class="link-catalog link"><div class="img-div">
                    <picture>
                        <source srcset="../img/catalog/catalog-1x-webp/catalog1x-6.webp,
                        ../img/catalog/catalog-2x-webp/catalog2x-6.webp" type="image/webp">
                        <source srcset="../img/catalog/catalog-1x/catalog1x-6.jpg,
                        ../img/catalog/catalog-2x/catalog2x-6.jpg" type="image/jpg">
                        <img class="img-attribute" src="../img/catalog/catalog-1x/catalog1x-6.jpg" alt="" width="336" height="360">
                    </picture>
                    <div class="information-card"><h3 class="text-information">Description</h3><p class="paragraf-information">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p><h3 class="text-information">DETAILS & FEATUREStion</h3><p class="paragraf-information">Gender: man
                        Size: 46x54.5mm
                        Case Colour: Steel
                        Band Material: Metal
                        Case Material: Metal
                        Features: Multifunction
                        Water Resistant: 5 (ATM)
                        Band Colour: Steel</p></div>
                   </div>
                    <span class="catalog-span">
                        <h3 class="catalog-text">Malawi Watch Police For Men</h3>
                        <p class="catalog-paragraf">€555</p>
                    </span></a>
            </li>
            <li class="catalog-item">
                   <a href="#" class="link-catalog link"><div class="img-div">
                    <picture>
                        <source srcset="../img/catalog/catalog-1x-webp/catalog1x-7.webp,
                        ../img/catalog/catalog-2x-webp/catalog2x-7.webp" type="image/webp">
                        <source srcset="../img/catalog/catalog-1x/catalog1x-7.jpg,
                        ../img/catalog/catalog-2x/catalog2x-7.jpg" type="image/jpg">
                        <img class="img-attribute" src="../img/catalog/catalog-1x/catalog1x-7.jpg" alt="" width="336" height="360">
                    </picture>
                    <div class="information-card"><h3 class="text-information">Description</h3><p class="paragraf-information">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p><h3 class="text-information">DETAILS & FEATUREStion</h3><p class="paragraf-information">Gender: man
                        Size: 46x54.5mm
                        Case Colour: Steel
                        Band Material: Metal
                        Case Material: Metal
                        Features: Multifunction
                        Water Resistant: 5 (ATM)
                        Band Colour: Steel</p></div>
                   </div>
                    <span class="catalog-span">
                        <h3 class="catalog-text">Diver 300M Co-Axial Master Chronometer </h3>
                        <p class="catalog-paragraf">€1200</p>
                    </span></a>
            </li>
            <li class="catalog-item">
                   <a href="#" class="link-catalog link"><div class="img-div">
                    <picture>
                        <source srcset="../img/catalog/catalog-1x-webp/catalog1x-8.webp,
                        ../img/catalog/catalog-2x-webp/catalog2x-8.webp" type="image/webp">
                        <source srcset="../img/catalog/catalog-1x/catalog1x-8.jpg,
                        ../img/catalog/catalog-2x/catalog2x-8.jpg" type="image/jpg">
                        <img class="img-attribute" src="../img/catalog/catalog-1x/catalog1x-8.jpg" alt="" width="336" height="360">
                    </picture>
                    <div class="information-card"><h3 class="text-information">Description</h3><p class="paragraf-information">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p><h3 class="text-information">DETAILS & FEATUREStion</h3><p class="paragraf-information">Gender: man
                        Size: 46x54.5mm
                        Case Colour: Steel
                        Band Material: Metal
                        Case Material: Metal
                        Features: Multifunction
                        Water Resistant: 5 (ATM)
                        Band Colour: Steel</p></div>
                   </div>
                    <span class="catalog-span">
                        <h3 class="catalog-text">Greenlane Watch By Police For Men</h3>
                        <p class="catalog-paragraf">€1000</p>
                    </span></a>
            </li>
            <li class="catalog-item">
                   <a href="#" class="link-catalog link"><div class="img-div">
                    <picture>
                        <source srcset="../img/catalog/catalog-1x-webp/catalog1x-9.webp,
                        ../img/catalog/catalog-2x-webp/catalog2x-9.webp" type="image/webp">
                        <source srcset="../img/catalog/catalog-1x/catalog1x-9.jpg,
                        ../img/catalog/catalog-2x/catalog2x-9.jpg" type="image/jpg">
                        <img class="img-attribute" src="../img/catalog/catalog-1x/catalog1x-9.jpg" alt="" width="336" height="360">
                    </picture>
                    <div class="information-card"><h3 class="text-information">Description</h3><p class="paragraf-information">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p><h3 class="text-information">DETAILS & FEATUREStion</h3><p class="paragraf-information">Gender: man
                        Size: 46x54.5mm
                        Case Colour: Steel
                        Band Material: Metal
                        Case Material: Metal
                        Features: Multifunction
                        Water Resistant: 5 (ATM)
                        Band Colour: Steel</p></div>
                   </div>
                    <span class="catalog-span">
                        <h3 class="catalog-text">Squardrc 5402 Chrono</h3>
                        <p class="catalog-paragraf">€359</p>
                    </span></a>
            </li>
            <li class="catalog-item">
                   <a href="#" class="link-catalog link"><div class="img-div">
                    <picture>
                        <source srcset="../img/catalog/catalog-1x-webp/catalog1x-10.webp,
                        ../img/catalog/catalog-2x-webp/catalog2x-10.webp" type="image/webp">
                        <source srcset="../img/catalog/catalog-1x/catalog1x-10.jpg,
                        ../img/catalog/catalog-2x/catalog2x-10.jpg" type="image/jpg">
                        <img class="img-attribute" src="../img/catalog/catalog-1x/catalog1x-10.jpg" alt="" width="336" height="360">
                    </picture>
                    <div class="information-card"><h3 class="text-information">Description</h3><p class="paragraf-information">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p><h3 class="text-information">DETAILS & FEATUREStion</h3><p class="paragraf-information">Gender: man
                        Size: 46x54.5mm
                        Case Colour: Steel
                        Band Material: Metal
                        Case Material: Metal
                        Features: Multifunction
                        Water Resistant: 5 (ATM)
                        Band Colour: Steel</p></div>
                   </div>
                    <span class="catalog-span">
                        <h3 class="catalog-text">Diver  300M Co‑Axial Master Chronometer Chronograph</h3>
                        <p class="catalog-paragraf">€400</p>
                    </span></a>
            </li>
            <li class="catalog-item">
                   <a href="#" class="link-catalog link"><div class="img-div">
                    <picture>
                        <source srcset="../img/catalog/catalog-1x-webp/catalog1x-11.webp,
                        ../img/catalog/catalog-2x-webp/catalog2x-11.webp" type="image/webp">
                        <source srcset="../img/catalog/catalog-1x/catalog1x-11.jpg,
                        ../img/catalog/catalog-2x/catalog2x-11.jpg" type="image/jpg">
                        <img class="img-attribute" src="../img/catalog/catalog-1x/catalog1x-11.jpg" alt="" width="336" height="360">
                    </picture>
                    <div class="information-card"><h3 class="text-information">Description</h3><p class="paragraf-information">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p><h3 class="text-information">DETAILS & FEATUREStion</h3><p class="paragraf-information">Gender: man
                        Size: 46x54.5mm
                        Case Colour: Steel
                        Band Material: Metal
                        Case Material: Metal
                        Features: Multifunction
                        Water Resistant: 5 (ATM)
                        Band Colour: Steel</p></div>
                   </div>
                    <span class="catalog-span">
                        <h3 class="catalog-text">Citizen</h3>
                        <p class="catalog-paragraf">€519</p>
                    </span></a>
            </li>
            <li class="catalog-item">
                   <a href="#" class="link-catalog link"><div class="img-div">
                    <picture>
                        <source srcset="../img/catalog/catalog-1x-webp/catalog1x-12.webp,
                        ../img/catalog/catalog-2x-webp/catalog2x-12.webp" type="image/webp">
                        <source srcset="../img/catalog/catalog-1x/catalog1x-12.jpg,
                        ../img/catalog/catalog-2x/catalog2x-12.jpg" type="image/jpg">
                        <img class="img-attribute" src="../img/catalog/catalog-1x/catalog1x-12.jpg" alt="" width="336" height="360">
                    </picture>
                    <div class="information-card"><h3 class="text-information">Description</h3><p class="paragraf-information">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p><h3 class="text-information">DETAILS & FEATUREStion</h3><p class="paragraf-information">Gender: man
                        Size: 46x54.5mm
                        Case Colour: Steel
                        Band Material: Metal
                        Case Material: Metal
                        Features: Multifunction
                        Water Resistant: 5 (ATM)
                        Band Colour: Steel</p></div>
                   </div>
                    <span class="catalog-span">
                        <h3 class="catalog-text">Armani Exchange</h3>
                        <p class="catalog-paragraf">€400</p>
                    </span></a>
            </li>
        </ul>
        <button type="button" class="button" data-modal-open>
            Buy now
        </button>
    </div>
</section>