<section class="section" id="catalog">
  <div class="container-catalog container">
    <h2 class="catalog-title title">Catalog</h2>
    <ul class="catalog-list list">
      <li class="catalog-list-item">
        <a href="#" class="catalog-item-link link"
          ><article class="catalog-card">
            <div class="catalog-item-thumb">
              <picture>
                <source
                  srcset="
                    ./img/catalog-img-1-desktop.jpg    1x,
                    ./img/catalog-img-1-desktop@2x.jpg 2x
                  "
                  media="(min-width: 1280px)" />
                <source
                  srcset="
                    ./img/catalog-img-1.jpg,
                    ./img/catalog-img-1@2x.jpg 2x
                  "
                  media="(max-width: 1279px)" />
                <img
                  src="./img/catalog-img-1.jpg"
                  alt=""
                  width="335"
                  height="360"
              /></picture>
              <div class="catalog-overlay">
                <h3 class="catalog-title-overlay">Description</h3>
                <p class="catalog-text-overlay">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
                <h3 class="catalog-title-overlay">DETAILS & FEATUREStion</h3>
                <ul class="catalog-text-overlay list">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
                <button type="button" class="favorites-button">
                  <svg width="24" height="24" class="favorites-icon">
                    <use href="./img/icons.svg#icon-heart"></use>
                  </svg>
                </button>
              </div>
            </div>
            <div class="catalog-item-descr">
              <h3 class="catalog-item-text">
                Tube Watch S42 Date Steel With Black
              </h3>
              <span class="catalog-item-price">€395</span>
            </div>
          </article></a
        >
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-item-link link"
          ><article class="catalog-card">
            <div class="catalog-item-thumb">
              <picture>
                <source
                  srcset="
                    ./img/catalog-img-2-desktop.jpg    1x,
                    ./img/catalog-img-2-desktop@2x.jpg 2x
                  "
                  media="(min-width: 1280px)" />
                <source
                  srcset="
                    ./img/catalog-img-2.jpg,
                    ./img/catalog-img-2@2x.jpg 2x
                  "
                  media="(max-width: 1279px)" />
                <img
                  src="./img/catalog-img-2.jpg"
                  alt=""
                  width="335"
                  height="360"
              /></picture>
              <div class="catalog-overlay">
                <h3 class="catalog-title-overlay">Description</h3>
                <p class="catalog-text-overlay">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
                <h3 class="catalog-title-overlay">DETAILS & FEATUREStion</h3>
                <ul class="catalog-text-overlay list">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
                <button type="button" class="favorites-button">
                  <svg width="24" height="24" class="favorites-icon">
                    <use href="./img/icons.svg#icon-heart"></use>
                  </svg>
                </button>
              </div>
            </div>
            <div class="catalog-item-descr">
              <h3 class="catalog-item-text">Avondale Watch Police For Men</h3>
              <span class="catalog-item-price">€800</span>
            </div>
          </article></a
        >
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-item-link link"
          ><article class="catalog-card">
            <div class="catalog-item-thumb">
              <picture>
                <source
                  srcset="
                    ./img/catalog-img-3-desktop.jpg    1x,
                    ./img/catalog-img-3-desktop@2x.jpg 2x
                  "
                  media="(min-width: 1280px)" />
                <source
                  srcset="
                    ./img/catalog-img-3.jpg,
                    ./img/catalog-img-3@2x.jpg 2x
                  "
                  media="(max-width: 1279px)" />
                <img
                  src="./img/catalog-img-3.jpg"
                  alt=""
                  width="335"
                  height="360"
              /></picture>
              <div class="catalog-overlay">
                <h3 class="catalog-title-overlay">Description</h3>
                <p class="catalog-text-overlay">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
                <h3 class="catalog-title-overlay">DETAILS & FEATUREStion</h3>
                <ul class="catalog-text-overlay list">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
                <button type="button" class="favorites-button">
                  <svg width="24" height="24" class="favorites-icon">
                    <use href="./img/icons.svg#icon-heart"></use>
                  </svg>
                </button>
              </div>
            </div>
            <div class="catalog-item-descr">
              <h3 class="catalog-item-text">
                Diver 300M Co‑Axial Master Chronometer Chronograph
              </h3>
              <span class="catalog-item-price">€600</span>
            </div>
          </article></a
        >
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-item-link link"
          ><article class="catalog-card">
            <div class="catalog-item-thumb">
              <picture>
                <source
                  srcset="
                    ./img/catalog-img-4-desktop.jpg    1x,
                    ./img/catalog-img-4-desktop@2x.jpg 2x
                  "
                  media="(min-width: 1280px)" />
                <source
                  srcset="
                    ./img/catalog-img-4.jpg,
                    ./img/catalog-img-4@2x.jpg 2x
                  "
                  media="(max-width: 1279px)" />
                <img
                  src="./img/catalog-img-4.jpg"
                  alt=""
                  width="335"
                  height="360"
              /></picture>
              <div class="catalog-overlay">
                <h3 class="catalog-title-overlay">Description</h3>
                <p class="catalog-text-overlay">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
                <h3 class="catalog-title-overlay">DETAILS & FEATUREStion</h3>
                <ul class="catalog-text-overlay list">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
                <button type="button" class="favorites-button">
                  <svg width="24" height="24" class="favorites-icon">
                    <use href="./img/icons.svg#icon-heart"></use>
                  </svg>
                </button>
              </div>
            </div>
            <div class="catalog-item-descr">
              <h3 class="catalog-item-text">
                Diver 300M Co-Axial Master Chronometer
              </h3>
              <span class="catalog-item-price">€1400</span>
            </div>
          </article></a
        >
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-item-link link"
          ><article class="catalog-card">
            <div class="catalog-item-thumb">
              <picture>
                <source
                  srcset="
                    ./img/catalog-img-5-desktop.jpg    1x,
                    ./img/catalog-img-5-desktop@2x.jpg 2x
                  "
                  media="(min-width: 1280px)" />
                <source
                  srcset="
                    ./img/catalog-img-5.jpg,
                    ./img/catalog-img-5@2x.jpg 2x
                  "
                  media="(max-width: 1279px)" />
                <img
                  src="./img/catalog-img-5.jpg"
                  alt=""
                  width="335"
                  height="360"
              /></picture>
              <div class="catalog-overlay">
                <h3 class="catalog-title-overlay">Description</h3>
                <p class="catalog-text-overlay">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
                <h3 class="catalog-title-overlay">DETAILS & FEATUREStion</h3>
                <ul class="catalog-text-overlay list">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
                <button type="button" class="favorites-button">
                  <svg width="24" height="24" class="favorites-icon">
                    <use href="./img/icons.svg#icon-heart"></use>
                  </svg>
                </button>
              </div>
            </div>
            <div class="catalog-item-descr">
              <h3 class="catalog-item-text">Taman Watch By Police For Men</h3>
              <span class="catalog-item-price">€500</span>
            </div>
          </article></a
        >
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-item-link link"
          ><article class="catalog-card">
            <div class="catalog-item-thumb">
              <picture>
                <source
                  srcset="
                    ./img/catalog-img-6-desktop.jpg    1x,
                    ./img/catalog-img-6-desktop@2x.jpg 2x
                  "
                  media="(min-width: 1280px)" />
                <source
                  srcset="
                    ./img/catalog-img-6.jpg,
                    ./img/catalog-img-6@2x.jpg 2x
                  "
                  media="(max-width: 1279px)" />
                <img
                  src="./img/catalog-img-6.jpg"
                  alt=""
                  width="335"
                  height="360"
              /></picture>
              <div class="catalog-overlay">
                <h3 class="catalog-title-overlay">Description</h3>
                <p class="catalog-text-overlay">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
                <h3 class="catalog-title-overlay">DETAILS & FEATUREStion</h3>
                <ul class="catalog-text-overlay list">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
                <button type="button" class="favorites-button">
                  <svg width="24" height="24" class="favorites-icon">
                    <use href="./img/icons.svg#icon-heart"></use>
                  </svg>
                </button>
              </div>
            </div>
            <div class="catalog-item-descr">
              <h3 class="catalog-item-text">Malawi Watch Police For Men</h3>
              <span class="catalog-item-price">€555</span>
            </div>
          </article></a
        >
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-item-link link"
          ><article class="catalog-card">
            <div class="catalog-item-thumb">
              <picture>
                <source
                  srcset="
                    ./img/catalog-img-7-desktop.jpg    1x,
                    ./img/catalog-img-7-desktop@2x.jpg 2x
                  "
                  media="(min-width: 1280px)" />
                <source
                  srcset="
                    ./img/catalog-img-7.jpg,
                    ./img/catalog-img-7@2x.jpg 2x
                  "
                  media="(max-width: 1279px)" />
                <img
                  src="./img/catalog-img-7.jpg"
                  alt=""
                  width="335"
                  height="360"
              /></picture>
              <div class="catalog-overlay">
                <h3 class="catalog-title-overlay">Description</h3>
                <p class="catalog-text-overlay">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
                <h3 class="catalog-title-overlay">DETAILS & FEATUREStion</h3>
                <ul class="catalog-text-overlay list">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
                <button type="button" class="favorites-button">
                  <svg width="24" height="24" class="favorites-icon">
                    <use href="./img/icons.svg#icon-heart"></use>
                  </svg>
                </button>
              </div>
            </div>
            <div class="catalog-item-descr">
              <h3 class="catalog-item-text">
                Diver 300M Co-Axial Master Chronometer
              </h3>
              <span class="catalog-item-price">€1200</span>
            </div>
          </article></a
        >
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-item-link link"
          ><article class="catalog-card">
            <div class="catalog-item-thumb">
              <picture>
                <source
                  srcset="
                    ./img/catalog-img-8-desktop.jpg    1x,
                    ./img/catalog-img-8-desktop@2x.jpg 2x
                  "
                  media="(min-width: 1280px)" />
                <source
                  srcset="
                    ./img/catalog-img-8.jpg,
                    ./img/catalog-img-8@2x.jpg 2x
                  "
                  media="(max-width: 1279px)" />
                <img
                  src="./img/catalog-img-8.jpg"
                  alt=""
                  width="335"
                  height="360"
              /></picture>
              <div class="catalog-overlay">
                <h3 class="catalog-title-overlay">Description</h3>
                <p class="catalog-text-overlay">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
                <h3 class="catalog-title-overlay">DETAILS & FEATUREStion</h3>
                <ul class="catalog-text-overlay list">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
                <button type="button" class="favorites-button">
                  <svg width="24" height="24" class="favorites-icon">
                    <use href="./img/icons.svg#icon-heart"></use>
                  </svg>
                </button>
              </div>
            </div>
            <div class="catalog-item-descr">
              <h3 class="catalog-item-text">
                Greenlane Watch By Police For Men
              </h3>
              <span class="catalog-item-price">€1000</span>
            </div>
          </article></a
        >
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-item-link link"
          ><article class="catalog-card">
            <div class="catalog-item-thumb">
              <img
                srcset="
                  ./img/catalog-img-9-desktop.jpg    1x,
                  ./img/catalog-img-9-desktop@2x.jpg 2x
                "
                src="./img/catalog-img-9-desktop.jpg"
                alt=""
                width="276"
                height="325"
              />
              <div class="catalog-overlay">
                <h3 class="catalog-title-overlay">Description</h3>
                <p class="catalog-text-overlay">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
                <h3 class="catalog-title-overlay">DETAILS & FEATUREStion</h3>
                <ul class="catalog-text-overlay list">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
                <button type="button" class="favorites-button">
                  <svg width="24" height="24" class="favorites-icon">
                    <use href="./img/icons.svg#icon-heart"></use>
                  </svg>
                </button>
              </div>
            </div>
            <div class="catalog-item-descr">
              <h3 class="catalog-item-text">Squardrc 5402 Chrono</h3>
              <span class="catalog-item-price">€359</span>
            </div>
          </article></a
        >
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-item-link link"
          ><article class="catalog-card">
            <div class="catalog-item-thumb">
              <img
                srcset="
                  ./img/catalog-img-10-desktop.jpg    1x,
                  ./img/catalog-img-10-desktop@2x.jpg 2x
                "
                src="./img/catalog-img-10-desktop.jpg"
                alt=""
                width="276"
                height="325"
              />
              <div class="catalog-overlay">
                <h3 class="catalog-title-overlay">Description</h3>
                <p class="catalog-text-overlay">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
                <h3 class="catalog-title-overlay">DETAILS & FEATUREStion</h3>
                <ul class="catalog-text-overlay list">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
                <button type="button" class="favorites-button">
                  <svg width="24" height="24" class="favorites-icon">
                    <use href="./img/icons.svg#icon-heart"></use>
                  </svg>
                </button>
              </div>
            </div>
            <div class="catalog-item-descr">
              <h3 class="catalog-item-text">
                Diver 300M Co‑Axial Master Chronometer Chronograph
              </h3>
              <span class="catalog-item-price">€400</span>
            </div>
          </article></a
        >
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-item-link link"
          ><article class="catalog-card">
            <div class="catalog-item-thumb">
              <img
                srcset="
                  ./img/catalog-img-11-desktop.jpg    1x,
                  ./img/catalog-img-11-desktop@2x.jpg 2x
                "
                src="./img/catalog-img-11-desktop.jpg"
                alt=""
                width="276"
                height="325"
              />
              <div class="catalog-overlay">
                <h3 class="catalog-title-overlay">Description</h3>
                <p class="catalog-text-overlay">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
                <h3 class="catalog-title-overlay">DETAILS & FEATUREStion</h3>
                <ul class="catalog-text-overlay list">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
                <button type="button" class="favorites-button">
                  <svg width="24" height="24" class="favorites-icon">
                    <use href="./img/icons.svg#icon-heart"></use>
                  </svg>
                </button>
              </div>
            </div>
            <div class="catalog-item-descr">
              <h3 class="catalog-item-text">Citizen</h3>
              <span class="catalog-item-price">€519</span>
            </div>
          </article></a
        >
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-item-link link"
          ><article class="catalog-card">
            <div class="catalog-item-thumb">
              <img
                srcset="
                  ./img/catalog-img-12-desktop.jpg    1x,
                  ./img/catalog-img-12-desktop@2x.jpg 2x
                "
                src="./img/catalog-img-12-desktop.jpg"
                alt=""
                width="276"
                height="325"
              />
              <div class="catalog-overlay">
                <h3 class="catalog-title-overlay">Description</h3>
                <p class="catalog-text-overlay">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
                <h3 class="catalog-title-overlay">DETAILS & FEATUREStion</h3>
                <ul class="catalog-text-overlay list">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
                <button type="button" class="favorites-button">
                  <svg width="24" height="24" class="favorites-icon">
                    <use href="./img/icons.svg#icon-heart"></use>
                  </svg>
                </button>
              </div>
            </div>
            <div class="catalog-item-descr">
              <h3 class="catalog-item-text">Armani Exchange</h3>
              <span class="catalog-item-price">€400</span>
            </div>
          </article></a
        >
      </li>
    </ul>
    <button type="button" class="catalog-button button" data-modal-open>
      Buy now
    </button>
  </div>
</section>
