<footer class="footer">
  <div class="container">
    <div class="footer-container-wrap">
      <div class="footer-wrap">
        <div class="footer-contact">
          <a href="./index.html" class="footer-logo link">
            <img src="./img/logo.svg" alt="Logo" width="50" height="50" />
          </a>
          <address class="footer-address">
            <ul class="footer-address-list list">
              <li class="footer-address-item">
                <a href="tel:+380684439426" class="footer-address-link link"
                  >+380 (68) 443-94-26</a
                >
              </li>
              <li class="footer-address-item">
                <a
                  href="https://goo.gl/maps/LcCHZ7TaEMgK1WcJA"
                  target="_blank"
                  class="footer-address-link link"
                  >1678 S. Pioneer Road <br />
                  Salt Lake City <br />
                  UT 84104</a
                >
              </li>
            </ul>
          </address>
        </div>
        <nav class="footer-nav">
          <ul class="footer-nav-list list">
            <li class="footer-nav-item">
              <a href="#about-us" class="footer-nav-link link">About us</a>
            </li>
            <li class="footer-nav-item">
              <a href="#catalog" class="footer-nav-link link">Catalog</a>
            </li>
            <li class="footer-nav-item">
              <a href="#sale" class="footer-nav-link link">Sale</a>
            </li>
          </ul>
        </nav>
      </div>
      <ul class="footer-social-list list">
        <li class="footer-social-item">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="footer-social-link link"
          >
            <svg class="footer-social-icon" width="24" height="24">
              <use href="./img/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href="https://www.youtube.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="footer-social-link link"
          >
            <svg class="footer-social-icon" width="24" height="24">
              <use href="./img/icons.svg#youtube"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="footer-social-link link"
          >
            <svg class="footer-social-icon" width="24" height="24">
              <use href="./img/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-copirate">
      <p class="copirate-text">
        &copy;2022 The Watch Spot. All rights reserved.
      </p>
      <p class="copirate-policy">
        <span class="copirate-item">Privacy Policy</span
        ><span class="copirate-item">Terms of Service</span>
      </p>
    </div>
  </div>
</footer>
