<!------------ Footer ------------>
<footer>
    <div class="container">
        
        <div class="footer-container">
            <!------------ Contact container start ------------>
            <div class="contact-container">
                <a href="./index.html" class="footer-logo-link">
                    <img src="./img/logo.svg" alt="Logo" class="footer-logo">
                </a>
                <address class="footer-address-list">
                    <ul class="list footer-address-item">
                        <li class="footer-address-items"><a href="tel:+380684439426" class="link footer-number">+380 (68) 443-94-26</a></li>
                        <li class="footer-address-items"><a href="https://goo.gl/maps/LcCHZ7TaEMgK1WcJA" target="_blank" class="link footer-address">1678 S. Pioneer Road<br> Salt Lake City<br> UT 84104</a></li>
                    </ul>
                </address>
            <!------------ Contact container end ------------>
            </div>

            <!------------ Footer nav-container start ------------>
            <div class="footer-nav-container">
                <ul class="list footer-nav-list">
                    <li class="">
                        <a href="#about-us" class="link footer-nav-link">About us</a>
                    </li>
                    <li class="">
                        <a href="#catalog" class="link footer-nav-link">Catalog</a>
                    </li>
                    <li class="">
                        <a href="#sale" class="link footer-nav-link">Sale</a>
                    </li>
                </ul>
            <!------------ Footer nav-container end ------------>
            </div>
        
            <!--------------- Footer social start -------------->
            <div class="footer-social-container">
                <ul class="list footer-social-list">
                    <li class="footer-social-items">
                        <a href="https://www.facebook.com/" target="_blank" class="link footer-social-link">
                            <svg class="footer-social-icon" width="24" height="24">
                                <use href="./img/icons.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social-items">
                        <a href="https://www.youtube.com/" target="_blank" class="link footer-social-link">
                            <svg class="footer-social-icon" width="24" height="24">
                                <use href="./img/icons.svg#youtube"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social-items">
                        <a href="https://www.instagram.com/" target="_blank" class="link footer-social-link">
                            <svg class="footer-social-icon" width="24" height="24">
                                <use href="./img/icons.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            <!--------------- Footer social end -------------->
            </div>
        </div>

        <!------------ Copirate block start ------------>
        <div class="footer-copirate-container">
            <p class="copirate">&copy;2022 The Watch Spot. All rights reserved.</p>
            <p class="copirate policy">Privacy Policy <span class="service">Terms of Service</span></p>
        </div>
        <!------------ Copirate block end ------------>
    </div>
</footer>