<header>
    <div class="container">
        <div class="header-container">
            <a href="./index.html" class="header-link link">
                <img src="./img/logo.svg" class="header-logo" width="14" height="14" alt="Logo">
                <span class="header-caption">thewatchspot</span>
            </a>

            <button class="menu-toggle js-open-menu" aria-expanded="false" ria-controls="mobile-menu">
                <img src="./img/menu-open.svg" width="20" height="14" alt="Mobile menu open">
            </button>
        </div>

        <div class="menu-container js-menu-container" id="mobile-menu">
            
            <button class="menu-toggle js-close-menu">
                <svg class="mobile-menu-close" width="24" height="24">
                    <use href="./img/sprite.svg#icon-cross-black"></use>
                </svg>
            </button>
        
            <div class="mobile-logo-container">
                <a href="./index.html" class="header-link link">
                    <img src="./img/logo.svg" class="header-logo" width="14" height="14" alt="Logo">
                    <span class="header-caption">thewatchspot</span>
                </a>
            </div>

            <div class="mobile-menu">
                <ul class="mobile-link-container list">
                    <li>
                        <a href="#about-us" class="link mobile-nav-link">About us</a>
                    </li>
                    <li>
                        <a href="#catalog" class="link mobile-nav-link">Catalog</a>
                    </li>
                    <li>
                        <a href="#sale" class="link mobile-nav-link">Sale</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>