
<section class="container-new-wathces">
    <div class="area-watch">
        <div class="text-box">
            <h2 class="new-watch">New watches</h2>
            <p class="green-bronze">Green And Bronze—The Match Made In Heaven</p>
        </div>

        <ul class="box-img-watch">
            <img class="field-wotch" srcset="../img/new-watches/green-watch.jpg 1x, ../img/new-watches/green-watch@2x.jpg 2x"
                src="../img/new-watches/green-watch.jpg" alt="watch" sizes="50vw" />

            <img class="field-wotch" srcset="../img/new-watches/black-watch.jpg 1x, ../img/new-watches/black-watch@2x.jpg 2x"
                src="../img/new-watches/black-watch.jpg" alt="watch" sizes="50vw" />
        </ul>
    </div>
</section>






