<section class="new-watches section">
  <div class="container">
    <h2 class="new-watches-title">New watches</h2>
    <h3 class="new-watches-text title">
      Green And Bronze—The Match Made In Heaven
    </h3>
    <ul class="new-watches-list list">
      <li class="new-watches-list-item">
        <picture>
          <source
            srcset="
              ./img/new-watches/green-watch-desktop.webp    1x,
              ./img/new-watches/green-watch-desktop@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp" />
          <source
            srcset="
              ./img/new-watches/green-watch-tablet.webp    1x,
              ./img/new-watches/green-watch-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp" />
          <source
            srcset="
              ./img/new-watches/green-watch-mobile.webp    1x,
              ./img/new-watches/green-watch-mobile@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp" />
          <source
            srcset="
              ./img/new-watches/green-watch-desktop.jpg    1x,
              ./img/new-watches/green-watch-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
            type="image/png" />
          <source
            srcset="
              ./img/new-watches/green-watch-tablet.jpg    1x,
              ./img/new-watches/green-watch-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/png" />
          <source
            srcset="
              ./img/new-watches/green-watch-mobile.jpg    1x,
              ./img/new-watches/green-watch-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/png" />
          <img
            class="field-wotch"
            src="./img/new-watches/green-watch-mobile.jpg"
            alt="Model new watch on hand"
            width="576"
            height="422"
        /></picture>
      </li>
      <li class="new-watches-list-item">
        <picture>
          <source
            srcset="
              ./img/new-watches/black-watch-desktop.webp    1x,
              ./img/new-watches/black-watch-desktop@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp" />
          <source
            srcset="
              ./img/new-watches/black-watch-tablet.webp    1x,
              ./img/new-watches/black-watch-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp" />
          <source
            srcset="
              ./img/new-watches/black-watch-mobile.webp    1x,
              ./img/new-watches/black-watch-mobile@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp" />
          <source
            srcset="
              ./img/new-watches/black-watch-desktop.jpg    1x,
              ./img/new-watches/black-watch-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
            type="image/png" />
          <source
            srcset="
              ./img/new-watches/black-watch-tablet.jpg    1x,
              ./img/new-watches/black-watch-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/png" />
          <source
            srcset="
              ./img/new-watches/black-watch-mobile.jpg    1x,
              ./img/new-watches/black-watch-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/png" />
          <img
            class="field-wotch"
            src="./img/black-watch-mobile.jpg"
            alt="Model new watch"
            width="576"
            height="422"
        /></picture>
      </li>
    </ul>
  </div>
</section>
