<section class="section" id="sale">
  <div class="container">
    <h2 class="sale-title title">Sale</h2>
    <div class="sale-wrap">
      <div class="sale-cards">
        <ul class="sale-cards-list list">
          <li class="sale-cards-item">
            <picture>
              <source
                srcset="
                  ./img/sale/sale-2-tablet-1x.webp 1x,
                  ./img/sale/sale-2-tablet-2x.webp 2x
                "
                media="(min-width: 768px)"
                sizes="(min-width: 768px) 146px, 100vw"
                type="image/webp" />
              <source
                srcset="
                  ./img/sale/sale-2-mobile-1x.webp 1x,
                  ./img/sale/sale-2-mobile-2x.webp 2x
                "
                media="(max-width: 767px)"
                sizes="(max-width: 767px) 80px, 100vw"
                type="image/webp" />
              <source
                srcset="
                  ./img/sale/sale-2-tablet-1x.jpg 1x,
                  ./img/sale/sale-2-tablet-2x.jpg 2x
                "
                media="(min-width: 768px)"
                sizes="(min-width: 768px) 146px, 100vw"
                type="image/png" />
              <source
                srcset="
                  ./img/sale/sale-2-mobile-1x.jpg 1x,
                  ./img/sale/sale-2-mobile-2x.jpg 2x
                "
                media="(max-width: 767px)"
                sizes="(max-width: 767px) 80px, 100vw"
                type="image/png" />
              <img
                src="./img/sale/sale-2-mobile-1x.jpg"
                alt="watch"
                width="146"
            /></picture>
          </li>
          <li class="sale-cards-item">
            <picture>
              <source
                srcset="
                  ./img/sale/sale-3-tablet-1x.webp 1x,
                  ./img/sale/sale-3-tablet-2x.webp 2x
                "
                media="(min-width: 768px)"
                sizes="(min-width: 768px) 146px, 100vw"
                type="image/webp" />
              <source
                srcset="
                  ./img/sale/sale-3-mobile-1x.webp 1x,
                  ./img/sale/sale-3-mobile-2x.webp 2x
                "
                media="(max-width: 767px)"
                sizes="(max-width: 767px) 80px, 100vw"
                type="image/webp" />
              <source
                srcset="
                  ./img/sale/sale-3-tablet-1x.jpg 1x,
                  ./img/sale/sale-3-tablet-2x.jpg 2x
                "
                media="(min-width: 768px)"
                sizes="(min-width: 768px) 146px, 100vw"
                type="image/png" />
              <source
                srcset="
                  ./img/sale/sale-3-mobile-1x.jpg 1x,
                  ./img/sale/sale-3-mobile-2x.jpg 2x
                "
                media="(max-width: 767px)"
                sizes="(max-width: 767px) 80px, 100vw"
                type="image/png" />
              <img
                src="./img/sale/sale-3-mobile-1x.jpg"
                alt="watch"
                width="146"
            /></picture>
          </li>
          <li class="sale-cards-item">
            <picture>
              <source
                srcset="
                  ./img/sale/sale-4-tablet-1x.webp 1x,
                  ./img/sale/sale-4-tablet-2x.webp 2x
                "
                media="(min-width: 768px)"
                sizes="(min-width: 768px) 146px, 100vw"
                type="image/webp" />
              <source
                srcset="
                  ./img/sale/sale-4-mobile-1x.webp 1x,
                  ./img/sale/sale-4-mobile-2x.webp 2x
                "
                media="(max-width: 767px)"
                sizes="(max-width: 767px) 80px, 100vw"
                type="image/webp" />
              <source
                srcset="
                  ./img/sale/sale-4-tablet-1x.jpg 1x,
                  ./img/sale/sale-4-tablet-2x.jpg 2x
                "
                media="(min-width: 768px)"
                sizes="(min-width: 768px) 146px, 100vw"
                type="image/png" />
              <source
                srcset="
                  ./img/sale/sale-4-mobile-1x.jpg 1x,
                  ./img/sale/sale-4-mobile-2x.jpg 2x
                "
                media="(max-width: 767px)"
                sizes="(max-width: 767px) 80px, 100vw"
                type="image/png" />
              <img
                src="./img/sale/sale-4-mobile-1x.jpg"
                alt="watch"
                width="146"
            /></picture>
          </li>
          <li class="sale-cards-item">
            <picture>
              <source
                srcset="
                  ./img/sale/sale-5-tablet-1x.webp 1x,
                  ./img/sale/sale-5-tablet-2x.webp 2x
                "
                media="(min-width: 768px)"
                sizes="(min-width: 768px) 146px, 100vw"
                type="image/webp" />
              <source
                srcset="
                  ./img/sale/sale-5-mobile-1x.webp 1x,
                  ./img/sale/sale-5-mobile-2x.webp 2x
                "
                media="(max-width: 767px)"
                sizes="(max-width: 767px) 80px, 100vw"
                type="image/webp" />
              <source
                srcset="
                  ./img/sale/sale-5-tablet-1x.jpg 1x,
                  ./img/sale/sale-5-tablet-2x.jpg 2x
                "
                media="(min-width: 768px)"
                sizes="(min-width: 768px) 146px, 100vw"
                type="image/png" />
              <source
                srcset="
                  ./img/sale/sale-5-mobile-1x.jpg 1x,
                  ./img/sale/sale-5-mobile-2x.jpg 2x
                "
                media="(max-width: 767px)"
                sizes="(max-width: 767px) 80px, 100vw"
                type="image/png" />
              <img
                src="./img/sale/sale-5-mobile-1x.jpg"
                alt="watch"
                width="146"
            /></picture>
          </li>
        </ul>
        <picture>
          <source
            srcset="
              ./img/sale/sale-1-tablet-1x.webp 1x,
              ./img/sale/sale-1-tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
            sizes="(min-width: 768px) 406px, 100vw"
            type="image/webp" />
          <source
            srcset="
              ./img/sale/sale-1-mobile-1x.webp 1x,
              ./img/sale/sale-1-mobile-2x.webp 2x
            "
            media="(max-width: 767px)"
            sizes="(max-width: 767px) 235px, 100vw"
            type="image/webp" />
          <source
            srcset="
              ./img/sale/sale-1-tablet-1x.jpg 1x,
              ./img/sale/sale-1-tablet-2x.jpg 2x
            "
            media="(min-width: 768px)"
            sizes="(min-width: 768px) 406px, 100vw"
            type="image/png" />
          <source
            srcset="
              ./img/sale/sale-1-mobile-1x.jpg 1x,
              ./img/sale/sale-1-mobile-2x.jpg 2x
            "
            media="(max-width: 767px)"
            sizes="(max-width: 767px) 235px, 100vw"
            type="image/png" />
          <img src="./img/sale/sale-1-mobile-1x.jpg" alt="watch" width="406"
        /></picture>
      </div>
      <div class="sale-description">
        <div class="sale-description-wrap">
          <h3 class="sale-watch-name">Greenlane Watch By Police For MenHT</h3>
          <p class="sale-description-text product-tag">
            Product tag: PEWJK2227003
          </p>
          <p class="sale-description-price">
            <span class="sale-price-item">€700</span>
            <s class="sale-price-item">€1000</s>
          </p>
        </div>
        <div class="sale-description-wrap">
          <h4 class="sale-about-watch">Description</h4>
          <p class="sale-description-text">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch features a versatile multifunction design that fits
            effortlessly into work and play. The steel case is adorned with a
            semi-transparent black dial. The timepiece exhibits a contrast
            through a black IP bracelet with matching crown and pushers.
          </p>
        </div>
        <div class="sale-description-wrap">
          <h4 class="sale-about-watch">DETAILS & FEATUREStion</h4>
          <ul class="list">
            <li><p class="sale-description-text">Gender: man</p></li>
            <li><p class="sale-description-text">Size: 46x54.5mm</p></li>
            <li><p class="sale-description-text">Case Colour: Steel</p></li>
            <li><p class="sale-description-text">Band Material: Metal</p></li>
            <li><p class="sale-description-text">Case Material: Metal</p></li>
            <li>
              <p class="sale-description-text">Features: Multifunction</p>
            </li>
            <li>
              <p class="sale-description-text">Water Resistant: 5 (ATM)</p>
            </li>
            <li><p class="sale-description-text">Band Colour: Steel</p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
