/* ---------------- ABOUT-US ---------------- */

.about-us {
  padding-top: 40px;
}

.about-us-text {
  font-weight: 300;
}

.about-us-gif {
  margin: auto auto;
  width: 335px;
  height: 365px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---------------- ABOUT-US-MEDIA ---------------- */

/* ----------------min-width: 768px---------------- */

@media screen and (min-width: 768px) {
  .about-us {
    padding-top: 64px;
  }

  .about-us-descr {
    display: flex;

    margin-bottom: 40px;
  }

  .about-us-title {
    flex-shrink: 0;

    margin-right: 40px;
  }

  .about-us-text:not(:last-child) {
    margin-right: 20px;
  }

  .about-us-gif {
    width: 704px;
    height: 465px;
  }
}

/* ----------------min-width: 1280px---------------- */

@media screen and (min-width: 1280px) {
  .about-us {
    padding-top: 80px;
  }

  .about-us-container {
    display: flex;
    flex-direction: column;
  }

  .about-us-title {
    margin-right: 110px;
  }

  .about-us-text:not(:last-child) {
    max-width: 439px;
    margin-right: 40px;
  }

  .about-us-text:last-child {
    width: 380px;
  }

  .about-us-gif {
    margin-right: 0;
    width: 892px;
    height: 500px;
  }
}

/* ----------------max-width: 767px---------------- */

@media screen and (max-width: 767px) {
  .about-us-descr {
    margin-bottom: 40px;
  }

  .about-us-title {
    margin-bottom: 40px;
  }

  .about-us-text:not(:last-child) {
    margin-bottom: 20px;
  }
}
