/* ---------------- CATALOG ---------------- */

.container-catalog {
  display: flex;
  flex-direction: column;
}

.catalog-title {
  margin-bottom: 40px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--basic-row-gap-item-list);

  margin-bottom: 40px;
}

.catalog-list-item {
  display: block;
  width: 100%;

  overflow: hidden;
}

.catalog-item-link {
  display: block;

  width: 100%;
}

.favorites-button {
  position: absolute;
  top: 14px;
  right: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  border: none;

  background-color: transparent;
}

.favorites-icon {
  fill: transparent;
  stroke: var(--white-color);

  transition: fill var(--transition-duration) var(--transition-timing-function),
    stroke var(--transition-duration) var(--transition-timing-function);
}

.favorites-button:is(:hover, :focus, :active) .favorites-icon {
  fill: #ffa900;
  stroke: #ffa900;
}

.catalog-item-text {
  margin-bottom: 4px;
  padding-right: 57px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.catalog-item-price {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;

  color: rgba(20, 20, 20, 0.5);
}

.catalog-item-thumb {
  position: relative;
  margin-bottom: 14px;
  overflow: hidden;
}

.catalog-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding: 40px 60px 40px 40px;
  border-radius: 4px;

  background-color: var(--dark-green-color);

  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.catalog-item-link:is(:hover, :focus) .catalog-overlay {
  transform: translateY(0);
}

.catalog-title-overlay {
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: var(--white-color);
}

.catalog-text-overlay {
  letter-spacing: -0.01em;

  color: rgba(255, 255, 255, 0.5);
}

.catalog-text-overlay:not(:last-child) {
  margin-bottom: 20px;
}

.catalog-button {
  padding: 14px 28px;

  margin-left: auto;
}

/* ---------------- CATALOG-MEDIA ---------------- */

/* ----------------min-width: 768px---------------- */

@media screen and (min-width: 768px) {
  .catalog-list {
    flex-direction: initial;
    column-gap: 32px;
  }

  .catalog-list-item {
    width: calc((100% - 1 * 32px) / 2);
  }

  .catalog-text-overlay:not(:last-child) {
    margin-bottom: 22px;
  }

  .catalog-button {
    padding: 18px 35px;
  }
}

/* ----------------min-width: 1280px---------------- */

@media screen and (min-width: 1280px) {
  .catalog-title {
    margin-bottom: 64px;
  }

  .catalog-list {
    column-gap: var(--basic-column-gap-item-list);
    row-gap: 64px;

    margin-bottom: 80px;
  }

  .catalog-list-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .catalog-item-text {
    padding-right: 30px;
  }

  .catalog-overlay {
    padding: 20px;
  }

  .catalog-text-overlay:not(:last-child) {
    margin-bottom: 26px;
  }
}

/* ----------------max-width: 1279px---------------- */

@media screen and (max-width: 1279px) {
  .catalog-list-item:nth-child(n + 9) {
    display: none;
  }
}
