@font-face {
  font-family: 'Epilogue';
  src: url('/fonts/Epilogue-VariableFont_wght.woff2') format('woff2');
}

body {
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.section {
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 128px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.container {
  max-width: var(--mobile);
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: var(--tablet);
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1206px;
  }
}

.button-desktop {
  display: block;
  background-color: var(--dark-green-color);
  cursor: pointer;
  padding: 17px 34px;
  border: none;
  border-radius: 8px;
  font-weight: var(--font-regular);
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  border: 1px solid var(--dark-green-color);
  transition: border-color var(--animation-time) var(--animation-func);
}

.button-desktop:hover,
.button-desktop:focus,
.button-desktop:active {
  border: 1px solid var(--white-color);
}
