/* ---------------- COMMON STYLES ---------------- */
body {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  color: var(--black-color);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-bottom: 80px;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

/* ---------------- MEDIA ---------------- */

@media screen and (min-width: 375px) {
  .container {
    width: var(--mobile);
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 128px;
  }

  .container {
    max-width: var(--tablet);
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .container {
    max-width: var(--desktop);
  }
}
