/* ---------------- COMMON-STYLES ---------------- */

body {
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;

  color: var(--black-color);
}

body.open-modal,
body.open-mobile-menu {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  margin: -1px;

  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: var(--background-color-sections);
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* ----------------min-width: 768px---------------- */

@media screen and (min-width: 768px) {
  .section {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* ----------------min-width: 1280px---------------- */

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .container {
    max-width: 1206px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
