/* ---------------- FOOTER ---------------- */

.footer {
  padding-top: 40px;
  padding-bottom: 20px;

  background-color: var(--dark-green-color);
}

.footer-container-wrap {
  margin-bottom: 80px;
}

.footer-wrap {
  display: flex;
}

.footer-logo {
  display: block;
  margin-bottom: 40px;
}

.footer-address-list {
  color: var(--white-color);
}

.footer-address {
  font-style: normal;
}

.footer-address-item {
  display: block;
}

.footer-address-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer-nav-item {
  display: block;
}

.footer-address-link,
.copirate-item {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size var(--transition-duration)
    var(--transition-timing-function);
}

.footer-address-link:is(:hover, :focus),
.footer-nav-link:is(:hover, :focus),
.copirate-item:is(:hover, :focus) {
  background-size: 100% 2px;
}

.footer-nav-item:not(:last-child) {
  margin-bottom: 14px;
}

.footer-social-list {
  display: flex;
  gap: 14px;
}

.footer-social-link {
  display: flex;

  padding: 8px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);

  color: var(--white-color);

  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}

.footer-social-link:is(:hover, :focus) {
  border-color: var(--white-color);
}

.footer-social-icon {
  fill: currentColor;
}

.footer-copirate {
  color: #c6cdd1;
}

.copirate-item:not(:last-child) {
  display: inline-block;
  margin-right: 14px;
}

/* ---------------- MEDIA-FOOTER ---------------- */

/* ----------------min-width: 768px---------------- */

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 80px;
  }

  .footer-container-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 152px;
  }

  .footer-contact {
    margin-right: 142px;
  }

  .footer-address-link {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
  }

  .footer-nav-item:not(:last-child) {
    margin-bottom: 18px;
  }

  .footer-nav-link {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
  }

  .footer-social-list {
    gap: 16px;
  }

  .footer-copirate {
    display: flex;
    justify-content: space-between;
  }

  .copirate-item:not(:last-child) {
    margin-right: 18px;
  }
}

/* ----------------min-width: 1280px---------------- */

@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 104px;
    padding-bottom: 32px;
  }

  .footer-container-wrap {
    margin-bottom: 174px;
  }

  .footer-contact {
    margin-right: 355px;
  }
}

/* ----------------max-width: 767px---------------- */

@media screen and (max-width: 767px) {
  .footer-wrap {
    margin-bottom: 40px;
  }

  .footer-contact {
    margin-right: auto;
  }

  .footer-logo {
    margin-bottom: 40px;
  }

  .footer-copirate {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
  }

  .copirate-text {
    margin-bottom: 14px;
  }
}
