/*----------Header style start----------*/
.header {
  position: absolute;
  width: 100%;
  padding-top: 29px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-link {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-logo {
  width: 14px;
  height: 14px;
}

.header-caption {
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: var(--white-color);
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  fill: var(--white-color);

  border: 1px solid transparent;
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}

.menu-toggle:is(:hover, :focus, :active) {
  border-color: var(--white-color);
}

.menu-container {
  display: none;
  top: 0;
  left: 0;
  flex-direction: column;
  gap: 200px;
  width: 100vw;
  height: 100vh;
  padding-top: 29px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dark-green-color);
  transform: translateX(100%);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.menu-container.is-open {
  transform: translateX(0);
  position: fixed;
  display: flex;
}

.mobile-link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.address-link {
  display: none;
  font-size: 9px;
  line-height: 1.33;
  color: var(--white-color);
  margin-left: auto;
  padding: 17px 35px;
  border: 1px solid var(--dark-green-color);
  border-radius: 8px;
  background-color: var(--dark-green-color);
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}

.address-link:hover,
.address-link:focus,
.address-link:active {
  border-color: var(--white-color);
}

.mobile-nav-tel {
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 20px;
  }

  .header-wrap {
    display: flex;
  }

  .header-link {
    margin-right: 80px;
  }

  .header-logo {
    width: 19px;
    height: 19px;
    max-width: initial;
  }

  .header-caption {
    font-size: 15px;
  }

  .menu-container {
    position: static;
    transform: translateX(0);
    display: flex;
    height: initial;
    flex-direction: row;
    gap: 40px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: initial;
  }

  .headline-wrap {
    display: none;
  }

  .menu-toggle.js-open-menu {
    display: none;
  }

  .mobile-menu {
    display: flex;
    width: 100%;
  }

  .mobile-link-container {
    flex-direction: row;
    margin-right: auto;
  }

  .mobile-nav-link {
    font-size: 9px;
    line-height: 1.33;
  }

  .address-link {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .header-wrap {
    max-width: 1176px;
  }
}
