/* ---------------- HEADER ---------------- */

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  padding-top: 29px;
}

.header-container-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 4px;

  color: var(--white-color);
}

.header-logo-img {
  width: 14px;
  height: 14px;
}

.header-logo-text {
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.03em;
}

.mobile-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  border: none;

  color: var(--white-color);
  background-color: transparent;

  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}

.mobile-menu-btn-icon {
  fill: currentColor;
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);

  width: 100vw;
  height: 100vh;
  padding-top: 29px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--dark-green-color);

  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.header-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.header-address {
  font-style: normal;
}

/* ---------------- HEADER-MEDIA ---------------- */

/* ----------------max-width: 767px---------------- */

@media screen and (max-width: 767px) {
  .header-nav-list {
    margin-left: auto;
    margin-right: auto;
  }

  .header-address-tel {
    display: none;
  }

  .nav-wrap {
    position: absolute;
    top: 253px;
    left: 0;
    width: 100%;
    transform: translateX(-100%);

    transition: transform var(--transition-duration)
      var(--transition-timing-function);
  }

  .mobile-menu.is-open + .nav-wrap {
    transform: translateX(0);
  }
}

/* ----------------min-width: 768px---------------- */

@media screen and (min-width: 768px) {
  .header {
    padding-top: 20px;
  }

  .header-container {
    display: flex;
    gap: 80px;
  }

  .header-logo-img {
    width: 19px;
    height: 19px;
  }

  .header-logo-text {
    font-size: 15px;
  }

  .mobile-menu-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .nav-wrap {
    flex-grow: 1;
  }

  .header-nav-list {
    flex-direction: row;
    gap: 40px;

    /* margin-right: auto; */
  }

  .mobile-nav-link {
    font-size: 9px;
    line-height: 1.33;
  }

  .header-address-tel {
    display: block;

    padding: 17px 35px;
    border-radius: 8px;

    font-size: 9px;
    line-height: 1.33;

    color: var(--white-color);
    background-color: var(--dark-green-color);
    border: 1px solid var(--dark-green-color);

    transition: border-color var(--transition-duration)
      var(--transition-timing-function);
  }

  .header-address-tel:hover,
  .header-address-tel:focus,
  .header-address-tel:active {
    border-color: var(--white-color);
  }
}
