/* ---------------- NEW-WATCHES ---------------- */
.new-watches-title {
  margin-bottom: 8px;

  font-weight: 300;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.06em;

  color: rgba(20, 20, 20, 0.4);
}

.new-watches-text {
  max-width: 448px;
  margin-bottom: 40px;
}

.new-watches-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}

.new-watches-list-item {
  display: block;

  width: 100%;
}

/* ---------------- MEDIA-NEW-WATCHES ---------------- */

/* ----------------min-width: 768px---------------- */

@media (min-width: 768px) {
  .new-watches-text {
    margin-bottom: 40px;
  }

  .new-watches-list {
    column-gap: 24px;
  }

  .new-watches-list-item {
    width: calc((100% - 24px) / 2);
  }
}

/* ----------------min-width: 1280px---------------- */

@media (min-width: 1280px) {
  .new-watches.section {
    background-color: var(--white-color);
  }

  .new-watches-text {
    margin-bottom: 80px;
  }
}
