/* ---------------- SALE ---------------- */

.sale-title {
  margin-bottom: 40px;
}

.sale-cards {
  display: flex;
  gap: 20px;

  margin-bottom: 40px;
}

.sale-cards-list {
  max-width: 80px;
}

.sale-cards-item {
  display: block;

  width: 100%;
}

.sale-cards-item:not(:last-child) {
  margin-bottom: 10px;
}

.sale-description {
  display: flex;
  flex-direction: column;
  row-gap: var(--basic-row-gap-item-list);
}

.sale-watch-name {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.02em;
}

.sale-description-text {
  color: rgba(20, 20, 20, 0.5);
}

.product-tag {
  margin-bottom: 16px;
}

.sale-description-price {
  display: flex;
  align-items: baseline;
}

.sale-description-price {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;

  color: rgba(20, 20, 20, 0.5);
}

.sale-price-item:not(:last-child) {
  display: block;
  margin-right: 8px;

  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;

  color: var(--black-color);
}

.sale-about-watch {
  position: relative;

  margin-bottom: 17px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.sale-about-watch::before {
  content: '';

  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 8px;

  background-color: var(--black-color);
}

.sale-about-watch::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;

  display: block;

  width: 16px;
  height: 1px;
  margin-left: auto;

  background-color: var(--black-color);
}

/* ---------------- MEDIA-HERO ---------------- */

/* ----------------min-width: 768px---------------- */

@media screen and (min-width: 768px) {
  .sale-wrap {
    max-width: 572px;
    margin-left: auto;
    margin-right: auto;
  }

  .sale-cards-list {
    max-width: 146px;
    width: 146px;
  }

  .sale-card-general {
    max-width: 406px;
  }

  .sale-watch-name {
    font-size: 38px;
    line-height: 1.05;
    letter-spacing: -0.02em;
  }
}

/* ----------------min-width: 1280px---------------- */

@media screen and (min-width: 1280px) {
  .sale-wrap {
    display: flex;
    max-width: 981px;
    gap: 40px;
  }

  .sale-cards {
    margin-bottom: 0;
  }

  .sale-description {
    row-gap: 20px;
  }

  .sale-description-price {
    margin-bottom: 20px;
  }
}
