/* ---------------- Variables ---------------- */
:root {
  --black-color: #141414;
  --dark-green-color: #1e2827;
  --white-color: #ffffff;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
  --basic-column-gap-item-list: 24px;
  --basic-row-gap-item-list: 40px;
  --mobile: 375px;
  --tablet: 768px;
  --desktop: 1280px;
}
