:root {
  --mobile: 375px;
  --tablet: 768px;
  --desktop: 1280px;
  --animation-time: 250ms;
  --animation-func: cubic-bezier(0.4, 0, 0.2, 1);
  --black-main-color: #141414;
  --dark-green-color: #1e2827;
  --white-color: #ffffff;
  --font-light: 300;
  --font-regular: 400;
  --font-semibold: 600;
}
