/* ---------------- VARIABLES ---------------- */

:root {
  --black-color: #141414;
  --dark-green-color: #1e2827;
  --white-color: #ffffff;
  --background-color-sections: #fbfbfb;
  --background-color-backdrop: rgba(30, 40, 39, 0.7);
  --gray-color: rgba(255, 255, 255, 0.5);
  --sub-color-text: rgba(20, 20, 20, 0.5);

  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;

  --basic-column-gap-item-list: 24px;
  --basic-row-gap-item-list: 40px;
}
